# Python cache, Virtual enviroment, vs code, and logs
#didnt really use some of these as i wanted to but anyway
__pycache__/
*.pyc
*.pyo
*.pyd
.env/
.venv/
.vscode/
.idea/
*.log
.env
.streamlit/secrets.toml
#secrets.toml is ignored since the lab file and practices use this method to avoid issues with git and api keys